.container{
    width:100%;
    margin:0 auto;
    font-size: 16px;
}
header {
    background-color: #812990;
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
.mapArea {
    width: 94%;
    margin: 2% auto;
    border-radius: 2px;
    border: 3px solid #812990;
}
#map {
    display:block;
    width:100%;
    height:350px;
    margin:0 auto;
}
.gm-style-iw {

}
#infoWindow{

}
/*.overlay{
    position: relative;
    display:inline-block;
    text-align:center;
    color:#fff;
    font-size:10px;
    line-height:20px;
    opacity:0.6;
    background:#4477aa;
    border-radius:2px;
    text-shadow:1px 1px 1px #666;
    padding:0 4px;
}

.overlay:after, .overlay:before {
    right: 100%;
    top: 65%;
    border: solid transparent;
    content:  "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    opacity:0.6;
}

.overlay:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #4477aa;
    border-width: 5px;
    margin-top: -5px;
}
.overlay:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #4477aa;
    border-width: 5px;
    margin-top: -5px;
}*/

.wrapper{
    width: 96%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
}
.input-message {
    border: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #555555;
    border: solid 1px #bbb;
    margin:0 auto;
    -webkit-flex:1;
    flex: 1;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:inset 1px 4px 9px -0.6px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 1px 4px 9px -0.6px rgba(0,0,0,0.5);
    box-shadow: inset 1px 4px 9px -0.6px rgba(0,0,0,0.5);
}
input.input-message::-webkit-input-placeholder {
    color: #aaa;
    font-weight: normal;
}
input.input-message:-ms-input-placeholder {
    color: #aaa;
    font-weight: normal;
}
input.input-message::-moz-placeholder {
    color: #aaa;
    font-weight: normal;
}
.input-message:focus {
    border:solid 1px #c994c7;
}
.btn-post-message {
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    width: 80px;
    background: #812990;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
}
.btn-post-message:hover {
    background: #A63C7A;
}
.logout{
    position: relative;
}
.btn-logout{
    position: absolute;
    text-align: center;
    background: #ffffff;
    color: #812990;
    margin: 0 auto;
    width: 15%;
    right: 2%;
    top: -25px;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
}
.btn-logout:hover {
    background: #A63C7A;
}